<!DOCTYPE html>
<html>
  <head>
    <title>RailsGirls Impressions</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolink-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
